html {


    margin: 0;
    padding: 0;
    font-family: "inter", sans-serif;
}



body {
    margin: 0;
    padding: 0;
    margin-bottom: 43px;
    width: 100%
}



.rectangle {

    width: 100%;
    display: flex;
    flex-direction: column;


    position: relative;
}

.background-image {
    position: absolute;
    width: 100%;
    height: 1024px;
    left: 0;
    top: 0;
    z-index: -1;
    object-fit: cover;
    
  
    


}

.background-image::after { 

    display: block;
    position: relative;
   
    background-color: rgba(0,0,0,0.3); 
  
    margin-top: -1030px;
    height: 1024px;
    width: 100%;
    content: '';}

.img2{
    object-fit: cover;
    height: 1024px;
    width: 100%;
    z-index: -2;

}



.navbar {
    padding-top: 32px;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
}

.title {
    font-family: Inter;
    font-size: 30px;
    font-weight: 900;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 32px;

}

.navitems,.nav-item-button {
    display: none;
}



.hamburger {

    position: absolute;
    right: 33px;
    top: 36px;

}

.line1 {
    background-color: white;
    height: 2.92px;
    width: 26.25px;
    margin-top: 4.38px;
}

.description {

    margin-top: 216px;
    padding-left: 32px;
    padding-right: 29px;
    color: white;
}

.prefix {
    height: 15px;
    width: 90px;
    background-color: white;
}

h1 {
    font-family: Libre Caslon Display;
    font-size: 50px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: left;
   
    margin: 0;
    padding: 0;
    margin-top: 32px;
    margin-bottom: 32px;

}

.subtext {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 0;
    margin-bottom: 32px;

}

.button {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    border: 2px solid #FFFFFF;
    border-radius: 10px;

    width: 149px;
    padding-top: 10px;
    padding-bottom: 10px;

}


/* Section 2 */

.newest-read {
    margin-top: 300px;
  

}

.title2 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 32px;
    padding-top:150px;


}

.item-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 78px;
    padding-left: 32px;
    padding-right: 32px;


}

.item {

    /* width: 33%; */


}

.img {
    height: 352px;
    width: 100%;
    /* object-fit: cover; */


}

.item-text {

    position: relative;
   
    border: 1px solid #DDDDDD;
    border-top:none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-radius: 4px;
    margin-top: -44px;
}

.date {

    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 79px;
    color: #B7B7B7;
    padding-left: 32px;

}

h2 {

    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 28px;
    padding-bottom: 64px;
    padding-left: 32px;
    padding-right: 32px;
}

.linktags {
    position:absolute;
    right:32px;
    bottom:32px;
    margin-top: 18px;
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #D9852C;

}

@media screen and (min-width: 744px) {


    .body{
        margin-bottom: 61px;
    }


    .description {


        padding-left: 72px;
        padding-right: 72px;

    }


    h1 {
        font-family: Libre Caslon Display;
        font-size: 70px;
        font-weight: 400;
        line-height: 87px;
        letter-spacing: 0em;
        text-align: left;

    }

    .subtext {
        font-family: Inter;
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;


    }

    .title2{

        padding-top: 89px;
    }

    /* Section 2 */

    .newest-read {
        margin-top: 441px;

        display: flex;
        flex-direction: column;




    }

    .title2 {
        font-family: Inter;
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;
        padding: 0;
        padding-bottom: 56px;
        padding-left: 72px;
        padding-top:0;
       
        



    }

    .item-wrapper {
        display: flex;
        flex-direction: row;

        gap: 0;
        margin-top: 78px;
        padding: 0;

        padding-left: 72px;
        padding-right: 72px;





    }

    .item-text {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 296px;

        margin-top: -13px;



    }



    .item {
        margin-right: 20px;


        width: 100%;

    }

    #item1 {
        margin-right: 0;
    }



    .img {
        width: 100%;
        object-fit: cover;
    }

    .linktags {


        padding-bottom: 0;

        text-align: right;
        font-family: Inter;
        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0em;


        padding-left: 0;
        margin-top: 28px;
        position: absolute;
        bottom: 32px;
        right: 32px;



    }


    h2 {

        font-family: Inter;
        font-size: 15px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 28px;



    }

    .date {


        padding-top: 0;
        margin-top: 48px;


    }


}

@media screen and (min-width: 992px) {


    .navitems {
        display: flex;
        list-style: none;
        gap: 35px;
        position: absolute;
        right: 215px;
        top: 42px;
        margin:0

    }

    .nav-item-button {

        display:block;

        border: 2px solid #FFFFFF;
        border-radius: 10px;
        padding: 7px 25px 9px;
        
        align-items: center;
        gap:0;
        align-self:flex-start ;
        position: absolute;
        right: 27px;
        top: 32px;
    }

    h1 {
        
        font-family: Libre Caslon Display;
        font-size: 80px;
        font-weight: 400;
        line-height: 99px;
        letter-spacing: 0em;
        text-align: left;
        

    }

    .description {

        width:748px;

     

    }

    

    .subtext{
        width:528px;
        font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
text-align: left;

    }

    .hamburger {

        display: none;

    }

    .title2{
        padding-bottom: 44px;
    }

   




}